{% extends "layout.html" %} {% block body %}
<!--navigation bar-->
<div class="topnav">
  <div class="left">
    <a class="active" href="/">Home</a>
  </div>
  <div class="right">
    <a id="account" href="/login">account</a>
    <a id="products" href="/shoplist">Products</a>
  </div>
</div>
<!--main content-->
<div class="index-content">
  <form action="/search" method="GET">
    <div>
      <input class="search_bar" placeholder="text">
    </div>
  </form>
  <div class="recommendations">
    <h2 style="text-align: center"><b>recommendations</b></h2>
    <div class="product-list">
      <!-- add product items here -->
    </div>
  </div>
  <div class="items">
    {% for product in products %}
    <div class="product">
      <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}"/>
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>€{{ product.price }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
