{% extends "layout.html" %} {% block body %}
  <div class="form-container">
        <div class="input-container">
            <div class="form-header">
                <h3>Forgot Password</h3>
            </div>
            <form method="POST" action="{{ url_for('forgot_password') }}">
                {% if error %}
                    <div class="error-message" style="color: red; margin-bottom: 10px;">{{ error }}</div>
                {% endif %}
                {% if success %}
                    <div class="success-message" style="color: green; margin-bottom: 10px;">{{ success }}</div>
                {% endif %}
                <div>
                    <input type="text" name="identifier" placeholder="username / e-mail" required style="margin-top: 10px; margin-bottom: 10px;"> 
                </div>
                <div class="botton">
                    <button class="submit" type="submit">Reset Password</button> 
                </div>
            </form>
        </div>
  </div>
{% endblock %}