<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="topnav">
        <div class="left">
            <a class="active" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/icons/home.png')}}"></a>
        </div>
        <div class="right">
            {% if logged_in %}
                <a id="profile" href="{{ url_for('profile') }}">
                    {% if current_avatar %}
                        <img class="nav-avatar" src="{{ url_for('static', filename=current_avatar) }}" alt="{{ current_username }}'s avatar">
                    {% endif %}
                    {{ current_username }}
                </a>
                <a id="favorites" href="{{ url_for('favorites') }}">Favorites</a>
                <a id="logout" href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='images/icons/logout.png')}}"></a>
            {% else %}
                <a id="login" href="{{ url_for('login') }}">Login</a>
                <a id="signup" href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </div>

    {% block body %}
        
    {% endblock %}
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>