{% extends "layout.html" %} {% block body %}
<div class="index-content">
  <form action="/search" method="GET">
    <div>
      <input class="search_bar" name="q" placeholder="search for an item...">
    </div>
  </form>
  <div class="recommendations">
    <h2 style="text-align: center"><b>recommendations</b></h2>
  </div>
  <div class="items">
{% for product in products %}
<div class="product" data-href="/product/{{ product.id }}">
  <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}"/>

  {% set is_fav = product.id in session.get('favorites', []) %}
  <form method="post" action="{{ url_for('toggle_favorite', product_id=product.id) }}" style="display:inline;">
    <button type="submit" class="fav-button" alt="heart" onclick="event.stopPropagation();">
      {% if is_fav%}
        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
      {% else %}
        <i class="fa-regular fa-heart"></i>
      {% endif %}
    </button>
  </form>

  <div class="product-info">
    <h3>{{ product.name }}</h3>
    <p>€{{ product.price }}</p>
  </div>
</div>
{% endfor %}
  </div>
</div>
{% endblock %}
